<p-toast></p-toast>

<div class="custom-body">
    <div style="margin-top: 9rem;" class=" flex align-items-center justify-content-center">
        <br><br>
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, white 8%, rgba(33, 150, 243, 0) 50%);">
            <div class="w-full card py-6 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="./../../../../../assets/layout/images/logo2.png" alt="Image" height="150" class="mb-2">
                    <div class="text-100 text-3xl font-medium mb-3">Bem Vindo </div>
                    <span class="text-100 font-medium">Business Intelligence</span>
                </div>
                <div>
                    <label for="email1" class="block text-100 text-xl font-medium mb-2">Email</label>
                    <input [(ngModel)]="credentials.email" id="email1" type="text" placeholder="Email address" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">

                    <label for="password1" class="block text-100 font-medium text-xl mb-2">Password</label>
                    <p-password id="password1" [(ngModel)]="credentials.senha" placeholder="Password" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Sou Vendedora</label>
                        </div>
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: white">Forgot password?</a>
                    </div>
                    <button (click)="Login()" pButton pRipple label="Sign In" class="w-full p-3 text-xl"></button>
                </div>
            </div>
        </div>
    </div>
</div>
