    <div class="tam flex flex-wrap flex-row-reverse">
        <p-button class="button-search flex align-items-center justify-content-center" icon="pi pi-search" styleClass="p-button-rounded p-button-info p-button-text p-button-raised"></p-button>

        <div class="container m-2">
            <div class="texto">
                <span class="">Selecione uma Loja</span>
            </div>
            <div class="pickdate">
                <span>95 Lojas Selecionadas</span>
            </div>
        </div>
    
        <div class="container m-2">
            <div class="texto">
                <span class="">Selecione um Período</span>
            </div>
            <div class="pickdate">
                <span>25/05/2023 à 25/05/2023</span>
            </div>
        </div>
    </div>
    
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-5">
        <li>
            <a class="text-500 no-underline line-height-3 cursor-pointer">Business Intelligence</a>
        </li>
        <li class="px-2">
            <i class="pi pi-angle-right text-500 line-height-3"></i>
        </li>
        <li>
            <span style="color:rgba(133, 169, 255)" class="line-height-3">Home</span>
        </li>
    </ul>

    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="cardGauge">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="text-1xl">Novo Card</span>
                        <p-tag class="ml-2" [style]="{'height':'1.2rem', 'border': '1px solid #FFCC85','background': 'linear-gradient(74deg, rgba(255,204,133,0.23433123249299714) 100%, rgba(255,204,133,0) 100%)', 'color': '#FFCC85'}" [rounded]="true">+25.5%</p-tag>
                    </div>
                    <div class="-mt-4 -mr-4 flex align-items-center justify-content-center border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i pTooltip="Comparação de vendas do ano passado com ano atual" class="pi pi-question text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="flex justify-content-center">
                    <ngx-gauge class="mt-2" [thick]="2" [foregroundColor]="'rgba(133, 169, 255)'" [size]="100" [type]="'full'" [value]="gaugeValue" [append]="gaugeAppendText"> </ngx-gauge>
                    <div class="ml-7 mt-2 bar-chart">
                        <div class="bar-1" style="height: 100%;">
                          <span class="bar-label">80%</span>
                        </div>
                        <div class="bar-2" style="height: 50%;">
                          <span class="bar-label">50%</span>
                        </div>
                    </div>
                </div>
                <div class="flex align-items-center mt-3 mb-2">
                    <div style="background: rgb(255, 204, 133);" class="bullet-item mr-2"></div>
                    <span class="fw-semi-bold flex-1 mb-0">Percentage discount</span>
                    <span style="color: 'rgb(255, 204, 133)'">2555</span>
                </div>
                <div class="flex align-items-center mb-2">
                    <div style="background: rgba(133, 169, 255);" class="bullet-item mr-2"></div>
                    <span class="fw-semi-bold flex-1 mb-0">Percentage discount</span>
                    <span style="color: 'rgba(133, 169, 255)'">2555</span>
                </div>
            </div>

            <div class="cardGauge">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="text-1xl">Novo Card</span>
                        <p-tag class="ml-2" [style]="{'height':'1.2rem', 'border': '1px solid #FFCC85','background': 'linear-gradient(74deg, rgba(255,204,133,0.23433123249299714) 100%, rgba(255,204,133,0) 100%)', 'color': '#FFCC85'}" [rounded]="true">+25.5%</p-tag>
                    </div>
                    <div class="-mt-4 -mr-4 flex align-items-center justify-content-center border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i pTooltip="Comparação de vendas do ano passado com ano atual" class="pi pi-question text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="flex justify-content-center">
                    <ngx-gauge class="mt-2" [thick]="2" [foregroundColor]="'rgba(133, 169, 255)'" [size]="100" [type]="'full'" [value]="gaugeValue" [append]="gaugeAppendText"> </ngx-gauge>
                    <div class="ml-7 mt-2 bar-chart">
                        <div class="bar-1" style="height: 100%;">
                          <span class="bar-label">80%</span>
                        </div>
                        <div class="bar-2" style="height: 50%;">
                          <span class="bar-label">50%</span>
                        </div>
                    </div>
                </div>
                <div class="flex align-items-center mt-3 mb-2">
                    <div style="background: rgb(255, 204, 133);" class="bullet-item mr-2"></div>
                    <span class="fw-semi-bold flex-1 mb-0">Percentage discount</span>
                    <span style="color: 'rgb(255, 204, 133)'">2555</span>
                </div>
                <div class="flex align-items-center mb-2">
                    <div style="background: rgba(133, 169, 255);" class="bullet-item mr-2"></div>
                    <span class="fw-semi-bold flex-1 mb-0">Percentage discount</span>
                    <span style="color: 'rgba(133, 169, 255)'">2555</span>
                </div>
            </div>

            <div class="cardGauge">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="text-1xl">Novo Card</span>
                        <p-tag class="ml-2" [style]="{'height':'1.2rem', 'border': '1px solid #FFCC85','background': 'linear-gradient(74deg, rgba(255,204,133,0.23433123249299714) 100%, rgba(255,204,133,0) 100%)', 'color': '#FFCC85'}" [rounded]="true">+25.5%</p-tag>
                    </div>
                    <div class="-mt-4 -mr-4 flex align-items-center justify-content-center border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i pTooltip="Comparação de vendas do ano passado com ano atual" class="pi pi-question text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="flex justify-content-center">
                    <ngx-gauge class="mt-2" [thick]="2" [foregroundColor]="'rgba(133, 169, 255)'" [size]="100" [type]="'full'" [value]="gaugeValue" [append]="gaugeAppendText"> </ngx-gauge>
                    <div class="ml-7 mt-2 bar-chart">
                        <div class="bar-1" style="height: 100%;">
                          <span class="bar-label">80%</span>
                        </div>
                        <div class="bar-2" style="height: 50%;">
                          <span class="bar-label">50%</span>
                        </div>
                    </div>
                </div>
                <div class="flex align-items-center mt-3 mb-2">
                    <div style="background: rgb(255, 204, 133);" class="bullet-item mr-2"></div>
                    <span class="fw-semi-bold flex-1 mb-0">Percentage discount</span>
                    <span style="color: 'rgb(255, 204, 133)'">2555</span>
                </div>
                <div class="flex align-items-center mb-2">
                    <div style="background: rgba(133, 169, 255);" class="bullet-item mr-2"></div>
                    <span class="fw-semi-bold flex-1 mb-0">Percentage discount</span>
                    <span style="color: 'rgba(133, 169, 255)'">2555</span>
                </div>
            </div>

            <div class="cardGauge">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="text-1xl">Novo Card</span>
                        <p-tag class="ml-2" [style]="{'height':'1.2rem', 'border': '1px solid #FFCC85','background': 'linear-gradient(74deg, rgba(255,204,133,0.23433123249299714) 100%, rgba(255,204,133,0) 100%)', 'color': '#FFCC85'}" [rounded]="true">+25.5%</p-tag>
                    </div>
                    <div class="-mt-4 -mr-4 flex align-items-center justify-content-center border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i pTooltip="Comparação de vendas do ano passado com ano atual" class="pi pi-question text-blue-500 text-xl"></i>
                    </div>
                </div>
                <div class="flex justify-content-center">
                    <ngx-gauge class="mt-2" [thick]="2" [foregroundColor]="'rgba(133, 169, 255)'" [size]="100" [type]="'full'" [value]="gaugeValue" [append]="gaugeAppendText"> </ngx-gauge>
                    <div class="ml-7 mt-2 bar-chart">
                        <div class="bar-1" style="height: 100%;">
                          <span class="bar-label">80%</span>
                        </div>
                        <div class="bar-2" style="height: 50%;">
                          <span class="bar-label">50%</span>
                        </div>
                    </div>
                </div>
                <div class="flex align-items-center mt-3 mb-2">
                    <div style="background: rgb(255, 204, 133);" class="bullet-item mr-2"></div>
                    <span class="fw-semi-bold flex-1 mb-0">Percentage discount</span>
                    <span style="color: 'rgb(255, 204, 133)'">2555</span>
                </div>
                <div class="flex align-items-center mb-2">
                    <div style="background: rgba(133, 169, 255);" class="bullet-item mr-2"></div>
                    <span class="fw-semi-bold flex-1 mb-0">Percentage discount</span>
                    <span style="color: 'rgba(133, 169, 255)'">2555</span>
                </div>
            </div>

            <!-- <div class="card">
                <div class="header line-height-4 font-medium">
                    <div class="flex justify-content-between">
                        <div>
                            <span class="text-1xl">Ranking TOP 10 - Vendedora</span>
                        </div>
                        <div class="-mt-4 -mr-4 flex align-items-center justify-content-center border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                            <i class="pi pi-question text-blue-500 text-xl"></i>
                        </div>
                    </div>
                    <p class="text-sm text-color-secondary">Melhores Perfomaces</p>
                </div>
                <div class="content">
                    <ul class="p-0 m-0 list-none">
                        <li class="py-3 px-0 flex align-items-center">
                            <div class="mr-2 w-3rem h-3rem p-avatar p-component p-avatar-image p-overlay-badge">
                                <img style="width: 3rem; height: 3rem; border-radius: 0.6rem;" src="../../../../assets/layout/images/persona.jpg" class="ng-star-inserted">
                                <span id="pr_id_7_badge" class="p-badge p-component p-badge-no-gutter">1</span>
                            </div>
                            <div class="ml-2">
                                <div class="text-xl text-color">$94,815</div>
                                <div class="mt-2 md:mt-0 flex align-items-center">
                                    <div class="surface-300 border-round overflow-hidden w-10rem lg:w-13rem" [ngStyle]="{height: '5px'}">
                                        <div style="background-color: rgba(133, 169, 255);" class="h-full" [ngStyle]="{width: '37%'}"></div>
                                    </div>
                                    <span style="color: rgba(133, 169, 255)" class=" ml-3 font-medium">%37</span>
                                </div>
                            </div>
                        </li>

                        <li class="py-3 px-0 flex align-items-center">
                            <div class="mr-2 w-3rem h-3rem p-avatar p-component p-avatar-image p-overlay-badge">
                                <img style="width: 3rem; height: 3rem; border-radius: 0.6rem;" src="../../../../assets/layout/images/persona.jpg" class="ng-star-inserted">
                                <span id="pr_id_7_badge" class="p-badge p-component p-badge-no-gutter">1</span>
                            </div>
                            <div class="ml-2">
                                <div class="text-xl text-color">$94,815</div>
                                <div class="mt-2 md:mt-0 flex align-items-center">
                                    <div class="surface-300 border-round overflow-hidden w-10rem lg:w-13rem" [ngStyle]="{height: '5px'}">
                                        <div style="background-color: rgba(133, 169, 255);" class="h-full" [ngStyle]="{width: '37%'}"></div>
                                    </div>
                                    <span style="color: rgba(133, 169, 255)" class=" ml-3 font-medium">%37</span>
                                </div>
                            </div>
                        </li>

                        <li class="py-3 px-0 flex align-items-center">
                            <div class="mr-2 w-3rem h-3rem p-avatar p-component p-avatar-image p-overlay-badge">
                                <img style="width: 3rem; height: 3rem; border-radius: 0.6rem;" src="../../../../assets/layout/images/persona.jpg" class="ng-star-inserted">
                                <span id="pr_id_7_badge" class="p-badge p-component p-badge-no-gutter">1</span>
                            </div>
                            <div class="ml-2">
                                <div class="text-xl text-color">$94,815</div>
                                <div class="mt-2 md:mt-0 flex align-items-center">
                                    <div class="surface-300 border-round overflow-hidden w-10rem lg:w-13rem" [ngStyle]="{height: '5px'}">
                                        <div style="background-color: rgba(133, 169, 255);" class="h-full" [ngStyle]="{width: '37%'}"></div>
                                    </div>
                                    <span style="color: rgba(133, 169, 255)" class=" ml-3 font-medium">%37</span>
                                </div>
                            </div>
                        </li>

                        <li class="py-3 px-0 flex align-items-center">
                            <div class="mr-2 w-3rem h-3rem p-avatar p-component p-avatar-image p-overlay-badge">
                                <img style="width: 3rem; height: 3rem; border-radius: 0.6rem;" src="../../../../assets/layout/images/persona.jpg" class="ng-star-inserted">
                                <span id="pr_id_7_badge" class="p-badge p-component p-badge-no-gutter">1</span>
                            </div>
                            <div class="ml-2">
                                <div class="text-xl text-color">$94,815</div>
                                <div class="mt-2 md:mt-0 flex align-items-center">
                                    <div class="surface-300 border-round overflow-hidden w-10rem lg:w-13rem" [ngStyle]="{height: '5px'}">
                                        <div style="background-color: rgba(133, 169, 255);" class="h-full" [ngStyle]="{width: '37%'}"></div>
                                    </div>
                                    <span style="color: rgba(133, 169, 255)" class=" ml-3 font-medium">%37</span>
                                </div>
                            </div>
                        </li>

                        <li class="py-3 px-0 flex align-items-center">
                            <div class="mr-2 w-3rem h-3rem p-avatar p-component p-avatar-image p-overlay-badge">
                                <img style="width: 3rem; height: 3rem; border-radius: 0.6rem;" src="../../../../assets/layout/images/persona.jpg" class="ng-star-inserted">
                                <span id="pr_id_7_badge" class="p-badge p-component p-badge-no-gutter">1</span>
                            </div>
                            <div class="ml-2">
                                <div class="text-xl text-color">$94,815</div>
                                <div class="mt-2 md:mt-0 flex align-items-center">
                                    <div class="surface-300 border-round overflow-hidden w-10rem lg:w-13rem" [ngStyle]="{height: '5px'}">
                                        <div style="background-color: rgba(133, 169, 255);" class="h-full" [ngStyle]="{width: '37%'}"></div>
                                    </div>
                                    <span style="color: rgba(133, 169, 255)" class=" ml-3 font-medium">%37</span>
                                </div>
                            </div>
                        </li>

                        <li class="py-3 px-0 flex align-items-center">
                            <div class="mr-2 w-3rem h-3rem p-avatar p-component p-avatar-image p-overlay-badge">
                                <img style="width: 3rem; height: 3rem; border-radius: 0.6rem;" src="../../../../assets/layout/images/persona.jpg" class="ng-star-inserted">
                                <span id="pr_id_7_badge" class="p-badge p-component p-badge-no-gutter">1</span>
                            </div>
                            <div class="ml-2">
                                <div class="text-xl text-color">$94,815</div>
                                <div class="mt-2 md:mt-0 flex align-items-center">
                                    <div class="surface-300 border-round overflow-hidden w-10rem lg:w-13rem" [ngStyle]="{height: '5px'}">
                                        <div style="background-color: rgba(133, 169, 255);" class="h-full" [ngStyle]="{width: '37%'}"></div>
                                    </div>
                                    <span style="color: rgba(133, 169, 255)" class=" ml-3 font-medium">%37</span>
                                </div>
                            </div>
                        </li>

                        <li class="py-3 px-0 flex align-items-center">
                            <div class="mr-2 w-3rem h-3rem p-avatar p-component p-avatar-image p-overlay-badge">
                                <img style="width: 3rem; height: 3rem; border-radius: 0.6rem;" src="../../../../assets/layout/images/persona.jpg" class="ng-star-inserted">
                                <span id="pr_id_7_badge" class="p-badge p-component p-badge-no-gutter">1</span>
                            </div>
                            <div class="ml-2">
                                <div class="text-xl text-color">$94,815</div>
                                <div class="mt-2 md:mt-0 flex align-items-center">
                                    <div class="surface-300 border-round overflow-hidden w-10rem lg:w-13rem" [ngStyle]="{height: '5px'}">
                                        <div style="background-color: rgba(133, 169, 255);" class="h-full" [ngStyle]="{width: '37%'}"></div>
                                    </div>
                                    <span style="color: rgba(133, 169, 255)" class=" ml-3 font-medium">%37</span>
                                </div>
                            </div>
                        </li>

                        <li class="py-3 px-0 flex align-items-center">
                            <div class="mr-2 w-3rem h-3rem p-avatar p-component p-avatar-image p-overlay-badge">
                                <img style="width: 3rem; height: 3rem; border-radius: 0.6rem;" src="../../../../assets/layout/images/persona.jpg" class="ng-star-inserted">
                                <span id="pr_id_7_badge" class="p-badge p-component p-badge-no-gutter">1</span>
                            </div>
                            <div class="ml-2">
                                <div class="text-xl text-color">$94,815</div>
                                <div class="mt-2 md:mt-0 flex align-items-center">
                                    <div class="surface-300 border-round overflow-hidden w-10rem lg:w-13rem" [ngStyle]="{height: '5px'}">
                                        <div style="background-color: rgba(133, 169, 255);" class="h-full" [ngStyle]="{width: '37%'}"></div>
                                    </div>
                                    <span style="color: rgba(133, 169, 255)" class=" ml-3 font-medium">%37</span>
                                </div>
                            </div>
                        </li>
                        
                        <li class="py-3 px-0 flex align-items-center">
                            <div class="mr-2 w-3rem h-3rem p-avatar p-component p-avatar-image p-overlay-badge">
                                <img style="width: 3rem; height: 3rem; border-radius: 0.6rem;" src="../../../../assets/layout/images/persona.jpg" class="ng-star-inserted">
                                <span id="pr_id_7_badge" class="p-badge p-component p-badge-no-gutter">1</span>
                            </div>
                            <div class="ml-2">
                                <div class="text-xl text-color">$94,815</div>
                                <div class="mt-2 md:mt-0 flex align-items-center">
                                    <div class="surface-300 border-round overflow-hidden w-10rem lg:w-13rem" [ngStyle]="{height: '5px'}">
                                        <div style="background-color: rgba(133, 169, 255);" class="h-full" [ngStyle]="{width: '37%'}"></div>
                                    </div>
                                    <span style="color: rgba(133, 169, 255)" class=" ml-3 font-medium">%37</span>
                                </div>
                            </div>
                        </li>

                        <li class="py-3 px-0 flex align-items-center">
                            <div class="mr-2 w-3rem h-3rem p-avatar p-component p-avatar-image p-overlay-badge">
                                <img style="width: 3rem; height: 3rem; border-radius: 0.6rem;" src="../../../../assets/layout/images/persona.jpg" class="ng-star-inserted">
                                <span id="pr_id_7_badge" class="p-badge p-component p-badge-no-gutter">1</span>
                            </div>
                            <div class="ml-2">
                                <div class="text-xl text-color">$94,815</div>
                                <div class="mt-2 md:mt-0 flex align-items-center">
                                    <div class="surface-300 border-round overflow-hidden w-10rem lg:w-13rem" [ngStyle]="{height: '5px'}">
                                        <div style="background-color: rgba(133, 169, 255);" class="h-full" [ngStyle]="{width: '37%'}"></div>
                                    </div>
                                    <span style="color: rgba(133, 169, 255)" class=" ml-3 font-medium">%37</span>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div> -->
        </div>

        <div class="col-12 lg:col-9">
            <div class="grid">
                <div class="col-12 lg-6">
                    <div class="card">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <h1 style="font-size: 2rem;">Venda Física</h1>
                            </div>
                            <div class="-mt-4 -mr-4 flex align-items-center justify-content-center border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i class="pi pi-question text-blue-500 text-xl"></i>
                            </div>
                        </div>
                        <div class="flex justify-content-end flex-wrap">
                            <div class="flex align-items-center justify-content-center m-2">
                                <p-dropdown class="mb-3" [options]="cities" placeholder="Canal de Venda"  optionLabel="name"></p-dropdown>
                            </div>
                        </div>
                    
                        <div class="grid">
                            <div class="col-12 md:col-6 lg:col-3">
                                <div class="card relative">
                                    <span class="font-medium line-height-1"> P.A </span>
                                    <p-tag class="ml-2" [style]="{'height':'1.3rem', 'width': '4rem', 'border': '1px solid rgb(243 95 95)','background': 'linear-gradient(74deg, rgb(245 160 160 / 24%) 100%, rgba(255, 204, 133, 0) 100%)', 'color': 'rgb(243 89 102)'}" [rounded]="true"> - 25.5%</p-tag>
                                    <div class="flex justify-content-between align-items-center">
                                        <div class="line-height-4 text-4xl">2.35</div>
                                    </div>
                                    <img src="./../../../../assets/layout/images/rate.svg" class="absolute" style="bottom: 14px; right: 12px;">
                                </div>
                            </div>

                            <div class="col-12 md:col-6 lg:col-3">
                                <div class="card relative">
                                    <span class="font-medium line-height-1"> PMV </span>
                                    <p-tag class="ml-2" [style]="{'height':'1.3rem', 'width': '4rem', 'border': '1px solid rgb(93 211 123)','background': 'linear-gradient(74deg, rgb(66 193 43 / 24%) 100%, rgba(255, 204, 133, 0) 100%)', 'color': 'rgb(107 235 98)'}" [rounded]="true">+25.5%</p-tag>
                                    <div class="flex justify-content-between align-items-center">
                                        <div class="line-height-4 text-4xl">R$306.25</div>
                                    </div>
                                    <img src="./../../../../assets/layout/images/positiverate.svg" class="absolute" style="bottom: 14px; right: 12px;">
                                </div>
                            </div>

                            <div class="col-12 md:col-6 lg:col-3">
                                <div class="card relative">
                                    <span class="font-medium line-height-1"> MARKUP </span>
                                    <p-tag class="ml-2" [style]="{'height':'1.3rem', 'width': '4rem', 'border': '1px solid rgb(243 95 95)','background': 'linear-gradient(74deg, rgb(245 160 160 / 24%) 100%, rgba(255, 204, 133, 0) 100%)', 'color': 'rgb(243 89 102)'}" [rounded]="true"> - 25.5%</p-tag>
                                    <div class="flex justify-content-between align-items-center">
                                        <div class="line-height-4 text-4xl">3.24</div>
                                    </div>
                                    <img src="./../../../../assets/layout/images/rate.svg" class="absolute" style="bottom: 14px; right: 12px;">
                                </div>
                            </div>

                            <div class="col-12 md:col-6 lg:col-3">
                                <div class="card relative">
                                    <span class="font-medium line-height-1"> TICKET MÉDIO </span>
                                    <p-tag class="ml-2" [style]="{'height':'1.3rem', 'width': '4rem', 'border': '1px solid rgb(93 211 123)','background': 'linear-gradient(74deg, rgb(66 193 43 / 24%) 100%, rgba(255, 204, 133, 0) 100%)', 'color': 'rgb(107 235 98)'}" [rounded]="true">+25.5%</p-tag>
                                    <div class="flex justify-content-between align-items-center">
                                        <div class="line-height-4 text-4xl">R$346.25</div>
                                    </div>
                                    <img src="./../../../../assets/layout/images/positiverate.svg" class="absolute" style="bottom: 14px; right: 12px;">
                                </div>
                            </div>
                        </div>
                        <div class="mt-2" echarts [options]="chartOptionBar"></div>
                    </div>
                </div>

                <!-- <div class="col-12 md:col-6 lg:col-12">
                    <div class="card">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <h1 style="font-size: 2rem;">Venda Online</h1>
                            </div>
                            <div class="-mt-4 -mr-4 flex align-items-center justify-content-center border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i class="pi pi-question text-blue-500 text-xl"></i>
                            </div>
                        </div>
                        <div class="flex flex-row flex-wrap mt-5 mb-6">
                            <div class="flex align-items-center justify-content-center w-4rem h-4rem m-2 mb-5">
                                <img style="width: 5rem;" src="../../../../assets/layout/images/neworders.png">
                            </div>
                            <div class="ml-1 flex align-self-end">
                                <span class="mr-5" style="font-size: 1.2rem;">62 Novos Pedidos</span>
                            </div>
                            <div class="flex align-items-center justify-content-center w-4rem h-4rem m-2">
                                <img style="width: 5rem;" src="../../../../assets/layout/images/pauseorders.png">
                            </div>
                            <div class="margin flex align-self-end">
                                <span style="font-size: 1.2rem;">5 A Serem Processados</span>
                            </div>
                        </div>

                        <div class="grid">
                            <div class="col-12 md:col-6 lg:col-8">
                                <p-chart type="line" [data]="data" [options]="options"></p-chart>
                            </div>
                            <div class="col-12 md:col-6 lg:col-4">
                                <div class="mt-5 mb-6 card relative">
                                    <span class="text-sm font-medium line-height-1"> CONVERSATION RATE </span>
                                    <div class="flex justify-content-between align-items-center">
                                        <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3" style="background-color: #fc6161; box-shadow: 0px 6px 20px rgba(252, 97, 97, 0.3);">
                                            <i class="pi pi-arrow-down w-2rem"></i>
                                            <span class="line-height-2">0.6%</span>
                                        </div>
                                        <div class="line-height-4 text-4xl">0.81%</div>
                                    </div>
                                    <img src="./../../../../assets/layout/images/rate.svg" class="absolute" style="bottom: 14px; right: 12px;">
                                </div>

                                <div class="card relative">
                                    <span class="text-sm font-medium line-height-1"> CONVERSATION RATE </span>
                                    <div class="flex justify-content-between align-items-center">
                                        <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3" style="background-color: #fc6161; box-shadow: 0px 6px 20px rgba(252, 97, 97, 0.3);">
                                            <i class="pi pi-arrow-down w-2rem"></i>
                                            <span class="line-height-2">0.6%</span>
                                        </div>
                                        <div class="line-height-4 text-4xl">0.81%</div>
                                    </div>
                                    <img src="./../../../../assets/layout/images/rate.svg" class="absolute" style="bottom: 14px; right: 12px;">
                                </div>
                            </div> 
                        </div>
                    </div>
                </div> -->

                <!-- <div class="col-12 md:col-6 lg:col-8">
                    <div class="card">
                        <div class="flex justify-content-between mb-3">
                            <div>
                                <h1 style="font-size: 2rem;">Fluxo e Novos Clientes</h1>
                            </div>
                            <div class="-mt-4 -mr-4 flex align-items-center justify-content-center border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                                <i class="pi pi-question text-blue-500 text-xl"></i>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12 md:col-6 lg:col-8">
                                <div class="flex align-items-center justify-content-center">
                                    <h4 class="mb-5">Novos Clientes :<span> 42</span></h4>
                                    <p-tag class="ml-2 mb-5" [style]="{'height':'1.2rem', 'border': '1px solid #FFCC85','background': 'linear-gradient(74deg, rgba(255,204,133,0.23433123249299714) 100%, rgba(255,204,133,0) 100%)', 'color': '#FFCC85'}" [rounded]="true">+25.5%</p-tag>
                                </div>
                                <div style="height: 15rem;" class="-mt-5" echarts [options]="chartOptionLine"></div>
                            </div>  
                        </div>   
                    </div>
                </div> -->

            </div>
        </div>
    </div>




                                    <!-- <div class="col-12 md:col-6 lg:col-3">
                                <div class="card relative">
                                    <span class="text-sm font-medium line-height-1"> CONVERSATION RATE </span>
                                    <div class="flex justify-content-between align-items-center">
                                        <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3" style="background-color: #00d0de; box-shadow: 0px 6px 20px rgba(0, 208, 222, 0.3);">
                                            <i class="pi pi-minus w-2rem"></i>
                                            <span class="line-height-2">2,1%</span>
                                        </div>
                                        <div class="line-height-4 text-4xl">0.624</div>
                                    </div>
                                    <img src="./../../../../assets/layout/images/negativerate.svg" class="absolute" style="bottom: 14px; right: 12px;">
                                </div>
                            </div>
                            <div class="col-12 md:col-6 lg:col-3">
                                <div class="card relative">
                                    <span class="text-sm font-medium line-height-1"> CONVERSATION RATE </span>
                                    <div class="flex justify-content-between align-items-center">
                                        <div class="flex justify-content-center align-items-center h-2rem w-5rem border-round p-2 mr-3" style="background-color: #fc6161; box-shadow: 0px 6px 20px rgba(252, 97, 97, 0.3);">
                                            <i class="pi pi-arrow-down w-2rem"></i>
                                            <span class="line-height-2">0.6%</span>
                                        </div>
                                        <div class="line-height-4 text-4xl">0.81%</div>
                                    </div>
                                    <img src="./../../../../assets/layout/images/rate.svg" class="absolute" style="bottom: 14px; right: 12px;">
                                </div>
                            </div> -->