    <div class="card-container yellow-container">
        <div (click)="showDialog()" class="flex align-items-center justify-content-center w-20rem h-3rem pickdate font-bold m-2">
            <div class="flex align-content-center flex-wrap card-container yellow-container">
                <div class="flex align-items-center justify-content-center font-bold  border-round " style="min-width: 20px; "><i class="pi pi-calendar" style="font-size: 20px"></i></div>
                <div class="flex align-items-center justify-content-center font-bold  border-round " style="min-width: 200px;">{{ datainiciolabel }} à {{ datafimlabel }}</div>
                <div class="flex align-items-center justify-content-center font-bold  border-round " style="min-width: 20px; "><i class="pi pi-angle-down" style="font-size: 20px"></i></div>
            </div>
        </div>
    </div>



<!-- <p-dialog [style]="{'width': '90%', 'height': '100%'}" [(visible)]="display">

    <div class="grid">
        <div class="col-12 col-6 md:col-6">
            <p-calendar [style]="{'width': '100%', 'height': '100%'}" [(ngModel)]="datainicio" dateFormat="yy.mm.dd" [inline]="true" [showWeek]="true"></p-calendar>
        </div>
        <div class="col-12 col-6 md:col-6">
            <p-calendar [style]="{'width': '100%', 'height': '100%'}" [(ngModel)]="datafim"  dateFormat="yy.mm.dd" [inline]="true" [showWeek]="true"></p-calendar>
        </div>
    </div>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" (click)="PickData()" label="Confirmar" class="p-button-raised p-button-warning"></button>
        <button pButton pRipple type="button" (click)="CloseData()" label="Cancelar" class="p-button-raised p-button-warning"></button>
    </ng-template>
</p-dialog> -->

<!-- ================================================================================================================================================================================================ -->

        <!-- <div class="grid">
    <a class="right">Selecione o Período :</a> 
        <div (click)="showDialog()" style="padding: 10px; cursor: pointer;" class="card">
            <div class="flex align-content-center flex-wrap card-container yellow-container">
                <div class="flex align-items-center justify-content-center font-bold text-gray-900 border-round " style="min-width: 20px; "><i class="pi pi-calendar" style="font-size: 20px"></i></div>
                <div class="flex align-items-center justify-content-center font-bold text-gray-900 border-round " style="min-width: 200px; ">{{ datainicio }} A {{ datafim }}</div>
                <div class="flex align-items-center justify-content-center font-bold text-gray-900 border-round ml-5" style="min-width: 20px; "><i class="pi pi-angle-down" style="font-size: 1rem"></i></div>
            </div>
        </div>
</div>
<button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success"></button>

<div class="grid ">
    <div class="col-12 col-6 md:col-3">
        <a class="right">Selecione o Período :</a> 
        <div (click)="showDialog()" class="pickdate">
            <div class="flex align-content-center flex-wrap card-container yellow-container">
                <div class="flex align-items-center justify-content-center font-bold text-gray-900 border-round " style="min-width: 20px; "><i class="pi pi-calendar" style="font-size: 20px"></i></div>
                <div class="flex align-items-center justify-content-center font-bold text-gray-900 border-round " style="min-width: 200px;">{{ datainicio }} à {{ datafim }}</div>
                <div class="flex align-items-center justify-content-center font-bold text-gray-900 border-round " style="min-width: 20px; "><i class="pi pi-angle-down" style="font-size: 20px"></i></div>
            </div>
        </div>  
    </div> 
</div>

<div class="flex flex-row-reverse  card-container yellow-container">
    <div class="flex align-items-center justify-content-center w-4rem h-3rem font-bold text-gray-900 border-round m-2">
        <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success"></button>
    </div>
    <div (click)="showDialog()" class="flex align-items-center justify-content-center w-20rem h-3rem pickdate font-bold m-2">
        <div class="flex align-content-center flex-wrap card-container yellow-container">
            <div class="flex align-items-center justify-content-center font-bold  border-round " style="min-width: 20px; "><i class="pi pi-calendar" style="font-size: 20px"></i></div>
            <div class="flex align-items-center justify-content-center font-bold  border-round " style="min-width: 200px;">{{ datainicio }} à {{ datafim }}</div>
            <div class="flex align-items-center justify-content-center font-bold  border-round " style="min-width: 20px; "><i class="pi pi-angle-down" style="font-size: 20px"></i></div>
        </div>
    </div>
    <div class="flex align-items-center justify-content-center w-4rem h-4rem bg-yellow-500 font-bold text-gray-900 border-round m-2">3</div>
</div>



<p-dialog [style]="{'width': '90%', 'height': '100%'}" [(visible)]="display">

<div class="grid">
    <div class="col-12 col-6 md:col-6">
        <p-calendar [style]="{'width': '100%', 'height': '100%'}" [(ngModel)]="datainicio" dateFormat="yy.mm.dd" [inline]="true" [showWeek]="true"></p-calendar>
    </div>
    <div class="col-12 col-6 md:col-6">
        <p-calendar [style]="{'width': '100%', 'height': '100%'}" [(ngModel)]="datafim"  dateFormat="yy.mm.dd" [inline]="true" [showWeek]="true"></p-calendar>
    </div>
</div>

<ng-template pTemplate="footer">
    <button pButton pRipple type="button" (click)="PickData()" label="Confirmar" class="p-button-raised p-button-warning"></button>
    <button pButton pRipple type="button" (click)="CloseData()" label="Cancelar" class="p-button-raised p-button-warning"></button>
</ng-template>
</p-dialog> -->


