.pickdate{
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    // padding: 5px;
    box-shadow: var(--card-shadow);
    border-radius: 25px;
}
// .right{
//     margin-left: 10px;
// }