<p-overlayPanel 
    [hideTransitionOptions]="'1.2s cubic-bezier(0, 0, 0.2, 1)'" 
    [showTransitionOptions]="'0.7s cubic-bezier(0, 0, 0.2, 1)'" 
    [showCloseIcon]="false" 
    [style]="{'background': '#141824', 'height': '25rem', 'width': '20rem', 'border':' 1px solid #31374a'}" #op>

    <div class="profile-container">
        <img class="layout-topbar-button" src="./../../assets/layout/images/persona.jpg">
        <span class="profile-name">Leo Azevedo</span>
    </div>

    <div class="divider"></div>
    <div class="grid">
        <div class="col-12 md:col-12 lg:col-12">
            <p-button [style]="{'width': '100%', 'height': '2rem', 'margin-bottom': '0.5rem', 'margin-top': '0.5rem', 'background': 'transparent', 'border':'transparent'}">
                <i class="pi pi-bell" pBadge value="2"></i><span class="pad">Notificações</span>
            </p-button>
            <p-button [style]="{'width': '100%', 'height': '2rem', 'margin-bottom': '0.5rem', 'margin-top': '0.5rem', 'background': 'transparent', 'border':'transparent'}">
                <i class="pi pi-user"></i><span class="pad">Perfil</span>
            </p-button>
            <p-button [style]="{'width': '100%', 'height': '2rem', 'margin-bottom': '0.5rem', 'margin-top': '0.5rem', 'background': 'transparent', 'border':'transparent'}">
                <i class="pi pi-user"></i><span class="pad">Perfil</span>
            </p-button>
            <p-button [style]="{'width': '100%', 'height': '2rem', 'margin-bottom': '0.0rem', 'margin-top': '0.5rem', 'background': 'transparent', 'border':'transparent'}">
                <i class="pi pi-user"></i><span class="pad">Perfil</span>
            </p-button>
        </div>
    </div>
    <div class="divider"></div>

    <p-button [style]="{'width': '100%', 'height': '3rem', 'margin-bottom': '0.0rem', 'margin-top': '0.5rem', 'background': '#0b0c13', 'border':' 1px solid #31374a'}">
        <div class="space">
            <i class="pi pi-sign-out"></i><span class="pad">Sair</span>
        </div>
    </p-button>

</p-overlayPanel>

<div style="height: 3rem; background: #141619" class="notificacao text-gray-100 p-0 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
    <div class="font-bold mr-8">🔥🔥🔥🔥</div>
    <div class="align-items-center hidden lg:flex">
        <span class="line-height-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero a sapiente quo tempora neque repudiandae fugiat molestias qui corporis aspernatur sunt consectetur explicabo totam, et porro modi fugit obcaecati doloremque.</span>
    </div>
    <a class="flex align-items-center ml-2 mr-8">
        <a class="text-white" href="#"><span class="underline font-bold">Ranking </span></a>
    </a>
    <a pRipple class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150" style="width:2rem; height: 2rem">
        <i class="pi pi-times"></i>
    </a>
</div> 

<div class="layout-topbar">

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <div class="layout-topbar-text">Business Intelligence</div>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu">
        <img pBadge value="2" (click)="op.toggle($event)" class="layout-topbar-button" src="./../../assets/layout/images/persona.jpg">
    </div>
</div>



        <!-- <button class="p-link layout-topbar-button">
            <i class="pi pi-bell"></i>
            <span>Notificações</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button (click)="logout()" class="p-link layout-topbar-button">
            <i class="pi pi-sign-out"></i>
            <span>Logout</span>
        </button> -->