.tam {
    height: 85px;
}

.item {
    min-height: 50px;
    min-width: 100px;
  }

.container {
    width: 20rem;
    height: 2.5rem;
    padding-bottom: 3rem;
}

.texto {
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
}

.pickdate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 2.5rem;
    border-radius: 3rem;
    background: rgba(0,0,0,.40);
    box-shadow: 0 25px 20px -20px rgba(0,0,0,.1), 0 0 15px rgba(0,0,0,.06);
    opacity: 0.7;
    text-align: center;
}

.pickdate:hover {
    background: #141824;
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .tam {
        height: auto;
    }
    .container {
        width: 100%;
        padding-bottom: 4rem;
    }
    .pickdate {
        width: 100%;
    }
    .button-search {
        width: 100%;
    }
}