<!-- <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'800ms'" [hideTransitionOptions]="'800ms'" [showTransformOptions]="'translateX(100%)'">
    <ng-template let-message pTemplate="message">

        <div class="flex flex-column card-container green-container">
            <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                {{message.summary}}
            </div>
            <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2">
                {{message.detail}}
            </div>
        </div>
        <span class="p-toast-progress"></span>
    </ng-template>
</p-toast> -->

<p-toast></p-toast>



<p-dialog 
    [transitionOptions]="'1.2s cubic-bezier(0, 0, 0.2, 1)'" 
    [visible]="displayDatePicker" 
    [position]="positionDate" 
    [modal]="true" 
    [breakpoints]="{'960px': '100vw'}" 
    [style]="{width: '80rem'}"
    [draggable]="true">
     
    <ng-template pTemplate="content">
        <div class="mt-5 flex align-items-center justify-content-center flex-column md:flex-row">
            <p-calendar class="m-2" [(ngModel)]="dateinicio" [inline]="true" [showWeek]="true"></p-calendar>
            <p-calendar class="m-2" [(ngModel)]="datefim" [inline]="true" [showWeek]="true"></p-calendar>
        </div>

        <div class="mt-2 flex align-items-center justify-content-end">
            <p-button (click)="closeDialogDate()" class="button-search flex align-items-center justify-content-center" icon="pi pi-times" styleClass="p-button-rounded p-button-info p-button-text p-button-raised"></p-button>
            <p-button (click)="pickDate()" class="button-search flex align-items-center justify-content-center" icon="pi pi-search" styleClass="p-button-rounded p-button-info p-button-text p-button-raised"></p-button>
        </div>

    </ng-template>

</p-dialog>

<p-dialog 
    [transitionOptions]="'1.2s cubic-bezier(0, 0, 0.2, 1)'" 
    [(visible)]="displayLojaPicker" 
    [position]="positionLoja" 
    [modal]="true" 
    [breakpoints]="{'960px': '100vw'}" 
    [style]="{width: '60rem'}"
    [draggable]="false" 
    [closable]="false"
    [resizable]="false">
     
    <ng-template pTemplate="content">
        <div class="mt-5 flex justify-content-start align-items-center">
            <div class="item flex align-items-center justify-content-center font-bold text-white border-round m-2">
              <div class="field-checkbox">
                <p-checkbox name="group1" value="New York"  inputId="ny"></p-checkbox>
                <label for="ny">Loja Própria</label>
              </div>
            </div>
            <div class="item flex align-items-center justify-content-center font-bold text-white border-round m-2">
              <div class="field-checkbox">
                <p-checkbox name="group1" value="New York"  inputId="ny"></p-checkbox>
                <label for="ny">Franquias</label>
              </div>
            </div>
        </div>
    
        <div class="mt-2">
            <div class="mb-2 flex align-items-center justify-content-between">
                <p-multiSelect [style]="{'width':'12rem' }" [options]="dropDownBases" [(ngModel)]="selectedBase" defaultLabel="Bases" optionLabel="name" display="chip"></p-multiSelect>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text"  placeholder="Search..." />
                </span>
            </div>
            <p-table #dt 
            [value]="lojas" 
            breakpoint="100px"
            [globalFilterFields]="['name','country.name','representative.name','status']" 
            [(selection)]="selectedLojas" 
            [rowHover]="true" 
            dataKey="lojaid"
            [style]="{'width': '100%'}"
            scrollHeight="40rem"
            [showCurrentPageReport]="true">
    
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 2rem;">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="loja">Loja <p-sortIcon field="loja"></p-sortIcon></th>
                        <th pSortableColumn="uf">UF <p-sortIcon field="uf"></p-sortIcon></th>
                        <th pSortableColumn="canal">Canal <p-sortIcon field="canal"></p-sortIcon></th>
                        <th pSortableColumn="base">Base <p-sortIcon field="base"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-result>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="result"></p-tableCheckbox>
                        </td>
                        <td>{{result.loja}}</td>
                        <td>{{result.uf}}</td>
                        <td>{{result.canal}}</td>
                        <td>{{result.base}}</td>
    
                    </tr>
                </ng-template>
            </p-table>
        </div>


        <div class="mt-2 flex align-items-center justify-content-end">
            <p-button (click)="closeDialogLoja()" class="button-search flex align-items-center justify-content-center" icon="pi pi-times" styleClass="p-button-rounded p-button-info p-button-text p-button-raised"></p-button>
            <p-button (click)="pickLojas()" class="button-search flex align-items-center justify-content-center" icon="pi pi-search" styleClass="p-button-rounded p-button-info p-button-text p-button-raised"></p-button>
        </div>
    </ng-template>

</p-dialog>



<div class="tam flex flex-wrap flex-row-reverse">
    <p-button class="button-search flex align-items-center justify-content-center" icon="pi pi-search" styleClass="p-button-rounded p-button-info p-button-text p-button-raised"></p-button>

    <div (click)="showDialogLoja('bottom')" class="container m-2">
        <div class="texto">
            <span class="">Selecione uma Loja</span>
        </div>
        <div class="pickdate">
            <ng-container *ngIf="countLojas == 1">
                <span>{{loja}}</span>
            </ng-container>
            <ng-container *ngIf="countLojas > 1">
                <span>{{countLojas}} Lojas Selecionadas</span>
            </ng-container>
        </div>
    </div>

    <div (click)="showDialogDate('top')" class="container m-2">
        <div class="texto">
            <span class="">Selecione um Período</span>
        </div>
        <div class="pickdate">
            <span> {{dateInicioLabel}} à  {{dateFimLabel}}</span>
        </div>
    </div>
</div>