* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $scale;
}

body {
    font-family: var(--font-family);
    // color: var(--text-color);
    // background-color: var(--surface-ground);
    color: white;
    // background: #202020;
    // background: #1A1C20; // GRAFITE
    // background: #0b0c13;  // AZUL ESCURO OFICIAL
    background: radial-gradient(farthest-side ellipse at 10% 0, #333867 20%, #17193B);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    // background: #0f111a; // ORIGINAL
    // background: #141619;
    font-family: 'Quicksand';
    margin: 0;
    // padding: 0 5rem 0 5rem;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    font-family: 'Quicksand';
    // color: var(--primary-color);
}

.layout-wrapper {
    min-height: 100vh;
}

// td, th, tr {
//     font-family: 'Quicksand'; 
// }


// span {
//     font-family: 'Quicksand';
//     font-style: normal;
//     font-weight: 300;
//   }