.card {
    // background: #141824;
    background: rgba(0,0,0,.40);
    box-shadow: 0 25px 20px -20px rgba(0,0,0,.1), 0 0 15px rgba(0,0,0,.06);
    opacity: 1;
    // border: 1px solid #ffffff;
    padding: 2rem;
    margin-bottom: 2rem;
    // box-shadow: var(--card-shadow);
    border-radius: $borderRadius;

    &:last-child {
        margin-bottom: 0;
    }
}

.cardEcommerce {
    background: transparent;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: $borderRadius;

    &:last-child {
        margin-bottom: 0;
    }
}

.cardGauge {
    display: flex;
    flex-direction: column;
    // align-items: center;
    background: rgba(0,0,0,.38);
    box-shadow: 0 25px 20px -20px rgba(0,0,0,.1), 0 0 15px rgba(0,0,0,.06);
    opacity: 1;
    // border: 1px solid #31374a;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: $borderRadius;

    &:last-child {
        margin-bottom: 0;
    }
}

// .divider {
//     width: 100%;
//     border: 0.1px solid #31374a;
// }

// .p-toast {
//     &.p-toast-top-right,
//     &.p-toast-top-left,
//     &.p-toast-top-center {
//         top: 100px;
//     }
// }

.notification {
	position: absolute;
	left: 28px;
	width: max-content;
	padding: 20px 15px;
	border-radius: 4px;
	background-color: #141619;
	color: #f6f5f9;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	transform: translateY(30px);
	opacity: 0;
	visibility: hidden;
	animation: fade-in 5s linear forwards;
}
.notification__progress {
	position: absolute;
	left: 5px;
	bottom: 5px;
	width: calc(100% - 10px);
	height: 3px;
	transform: scaleX(0);
	transform-origin: left;
	background-image: linear-gradient(to right, #539bdb, #3250bf);
	border-radius: inherit;
	animation: load 4s 0.25s linear forwards;
}
@keyframes fade-in {
	5% {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
	90% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes load {
	to {
		transform: scaleX(1);
	}
}