img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}


.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* opcional: centraliza horizontalmente */
}
.profile-name{
    margin-top: 0.3rem;
    color: white;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.pad {
    margin-left: 1rem;
}

.space{
    margin-left: 5.2rem;
}

.img-profile-modal {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}